
lab1/out/

lab1/.idea/

*.bak
*.class

lab2/.idea/
lab2/out/
lab2/source/recordBrowser/recordBrowser.iml
lab3/.idea/
*.iml

lab3/out
lab3/target

lab4/.idea/
lab4/target/
lab4-processors/test.txt
lab4-processors/.idea/
