keystore "file:${user.dir}/javadev.jks";

keystorePasswordURL "file:${user.dir}/keystore.pass";

grant signedBy "lab9-dev",
codeBase "file:${user.dir}/release/app-1.0-SNAPSHOT.jar" {
    permission java.io.FilePermission "<<ALL FILES>>", "read, write";
    permission java.util.PropertyPermission "user.dir", "read";
};

grant signedBy "lab9-dev",
codeBase "file:${user.dir}/release/library-2.0-SNAPSHOT.jar" {
    //permission java.io.FilePermission "<<ALL FILES>>", "read, write";
    permission java.io.FilePermission "<<ALL FILES>>", "read";
    permission java.util.PropertyPermission "user.dir", "read";
};